<div class="col-12 card">
  <a href="https://www.talkdesk.com/resources/datasheets/talkdesk-tops-five9-in-g2-crowds-customer-satisfaction-poll/"
      class="" target="_self" title="Talkdesk Tops Five9 in G2 Crowd’s Customer Satisfaction Poll">
    <span class="card__label text-orange">Resources</span>
    <span class="card__label text-capitalize">Mar 24, 2017</span>
    <h4 class="card__title">Talkdesk Tops Five9 in G2 Crowd’s Customer Satisfaction Poll</h4>
    <p class="card__url">www.talkdesk.com/resources/datasheets/talkdesk-tops-five9-in-g2-crowds-customer-satisfaction-poll/</p>
  </a>
</div>
