{{> utilities/globals/head-index }}

<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table>
				<tr>
					<td class="header no-change" height="80" width="100%" colspan="3" bgcolor="#eaf9fd">
						<div class="col-xs-10 col-md-8">
							<header style="width: calc(50% - 15px);">

							</header>
							<div class="edit" style="float: left;">
								<input name="name" placeholder="Project Name">
								<input name="desc" placeholder="Description">
							</div>
							<button class="btn btn-primary btn-edit btn-sm" onclick="toggleEdit(event)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
						<picture>
							<a href="/">
								<img class="logo" src="/images/logos/logo_by.png" width="80">
							</a>
						</picture>
					</td>
				</tr>
				<tr>
					<td class="no-change">
						<div class="clearfix">
							<h3>Datas:</h3>
							<button class="btn btn-primary btn-edit btn-sm" onclick="toggleEdit(event)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
						<ul class="dates">

						</ul>
						<div class="ghost">
							<input placeholder="Adicionar datas" type="date">
							<button class="btn btn-success" onclick="addItem(event)">&plus;</button>
						</div>
					</td>
					<td class="no-change">
						<div class="clearfix">
							<h3>Equipa:</h3>
							<button class="btn btn-primary btn-edit btn-sm" onclick="toggleEdit(event)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
						<ul class="team">

						</ul>
						<div class="ghost">
							<input placeholder="Adicionar equipa">
							<button class="btn btn-success" onclick="addItem(event)">&plus;</button>
						</div>
					</td>
					<td class="no-change">
						<div class="clearfix">
							<h3>Ambientes:</h3>
							<button class="btn btn-primary btn-edit btn-sm" onclick="toggleEdit(event)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
						<ul class="server">

						</ul>
						<div class="ghost">
							<input placeholder="Servidor"><input placeholder="link">
							<button class="btn btn-success" onclick="addItem(event)">&plus;</button>
						</div>
					</td>
				</tr>
				<tr>
					<td class="no-change" width="100%" colspan="3">
						<div class="clearfix">
							<h3>Descrição:</h3>
							<button class="btn btn-primary btn-edit btn-sm" onclick="toggleEdit(event)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
						<ul class="description"></ul>

						<div class="ghost">
							<textarea rows="4" placeholder="Quando fui comprar bananas, esqueci-me de trazer Natas! :O" style="resize: vertical; min-height: 80px;"></textarea>
							<button class="btn btn-success" onclick="addItem(event)">&plus;</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="no-change">
				<tr>
					<td width="100%" colspan="1" bgcolor="#eaf9fd">
						<h3>Templates</h3>
						<button class="btn btn-primary btn-edit btn-sm" onclick="toggleEdit(event, 'table')">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="templates">

						</ul>
						<div class="ghost">
							<input placeholder="T00"><input placeholder="Dummy">
							<button class="btn btn-success" onclick="addItem(event)">&plus;</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="no-change">
				<tr>
					<td width="100%" colspan="1" bgcolor="#eaf9fd">
						<h3>GUI Items</h3>
						<button class="btn btn-primary btn-edit btn-sm" onclick="toggleEdit(event, 'table')">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</td>
				</tr>
				<tr>
					<td>
						<ul class="gui_item">

						</ul>
						<div class="ghost">
							<input placeholder="G00"><input placeholder="Dummy">
							<button class="btn btn-success" onclick="addItem(event)">&plus;</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<!--removeIf(production)-->
	<div class="row" style="margin-top: 25px;">
		<div class="col-xs-6">
		</div>
		<div class="col-xs-6" style="text-align: right">
			<button class="btn btn-success" onclick="setData()">
				<i class="glyphicon glyphicon-floppy-save"></i> Guardar
			</button>
			<br>
			<a id="results" style="display: none;">CSV from local store</a>
		</div>
	</div>
	<!--endRemoveIf(production)-->
</div>

{{> utilities/globals/foot-index }}
