// Core CSS
@import "utilities/reset",
        "../_libs/vendor/gridlex/src/gridlex";

// Utilities
@import "utilities/colors",
        "utilities/fonts";

// Custom
body {
  color: #172241;
  background-color: $color4;

  @include font('body', 'normal');
  font-size: 16px;
  @include fontSize(13px, 16px);
}

.container {
  flex: 0 0 85%;
  max-width: 85%;
  margin: 0 auto;
}

 // Atoms
@import "atoms/styles.scss";

// Molecules

// Organisms
@import "organisms/search-page",
        "organisms/search-card",
        "organisms/search-input",
        "organisms/search-filters",
        "organisms/search-pagination",

        "utilities/helpers";
