.pagination {
  display: flex;
  justify-content: center;
  margin: 2em 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__item {
    @include font('body', 'normal');
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.875rem;
    height: 2.875rem;
    margin: 0.125rem;
    border-radius: 50%;
    opacity: 0.8;
    transition: 150ms all ease-out;

    @include bp('md') {
      font-size: .8125rem;
    }

    &:hover {
      opacity: 1;
      background-color: $color3;
      color: #fff;
      text-decoration: none;
      width: 3.125rem;
      height: 3.125rem;
      margin: 0rem;
    }

    &--active {
      font-weight: 600;
    }
  }

  .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 206px;
    padding-top: 0.6875rem;
    padding-bottom: 0.5625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.3125rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: $color0;
    border: 2px solid $color0;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      background-color: $color0;
      border-color: $color0;
      color: #fff;
    }

    @include bp('md') {
      padding: 0.625rem;
      min-width: auto;
    }

    &--prev {
      margin-right: auto;
    }

    &--next {
      margin-left: auto;
    }
  }
}
