%svg-common {
	background: url("../images/icons/icons.svg") no-repeat;
}

.svg-icon-arrow-go_color {
	@extend %svg-common;
	background-position: 17.714285714285715% 86.48648648648648%;
	width: 14px;
	height: 16px;
}

.svg-icon-arrow-go_gray {
	@extend %svg-common;
	background-position: 9.714285714285714% 86.48648648648648%;
	width: 14px;
	height: 16px;
}

.svg-icon-arrow_gradient {
	@extend %svg-common;
	background-position: 49.717514124293785% 61.53846153846154%;
	width: 12px;
	height: 10px;
}

.svg-icon-arrow_white {
	@extend %svg-common;
	background-position: 42.3728813559322% 84.21052631578948%;
	width: 12px;
	height: 13px;
}

.svg-icon-chart_gray {
	@extend %svg-common;
	background-position: 67.25146198830409% 47.706422018348626%;
	width: 18px;
	height: 18px;
}

.svg-icon-chart_white {
	@extend %svg-common;
	background-position: 77.77777777777777% 47.706422018348626%;
	width: 18px;
	height: 18px;
}

.svg-icon-contact {
	@extend %svg-common;
	background-position: 0 87.27272727272727%;
	width: 17px;
	height: 17px;
}

.svg-icon-cross_gray {
	@extend %svg-common;
	background-position: 48.87640449438202% 82.75862068965517%;
	width: 11px;
	height: 11px;
}

.svg-icon-cross_red {
	@extend %svg-common;
	background-position: 55.865921787709496% 61.53846153846154%;
	width: 10px;
	height: 10px;
}

.svg-icon-email {
	@extend %svg-common;
	background-position: 32.55813953488372% 62.608695652173914%;
	width: 17px;
	height: 12px;
}

.svg-icon-facebook {
	@extend %svg-common;
	background-position: 0 100%;
	width: 9px;
	height: 14px;
}

.svg-icon-glossario {
	@extend %svg-common;
	background-position: 86.28571428571429% 47.706422018348626%;
	width: 14px;
	height: 18px;
}

.svg-icon-out_white {
	@extend %svg-common;
	background-position: 56.470588235294116% 48.598130841121495%;
	width: 19px;
	height: 20px;
}

.svg-icon-ray_color {
	@extend %svg-common;
	background-position: 0 62.65060240963855%;
	width: 26px;
	height: 44px;
}

.svg-icon-search_gray {
	@extend %svg-common;
	background-position: 44.97041420118343% 48.598130841121495%;
	width: 20px;
	height: 20px;
}

.svg-icon-search_white {
	@extend %svg-common;
	background-position: 33.13609467455621% 48.598130841121495%;
	width: 20px;
	height: 20px;
}

.svg-icon-share {
	@extend %svg-common;
	background-position: 95.93023255813954% 47.27272727272727%;
	width: 17px;
	height: 17px;
}

.svg-icon-tick_gray {
	@extend %svg-common;
	background-position: 25.862068965517242% 84.21052631578948%;
	width: 15px;
	height: 13px;
}

.svg-icon-tick_white {
	@extend %svg-common;
	background-position: 34.48275862068966% 84.21052631578948%;
	width: 15px;
	height: 13px;
}

.svg-icon-twitter {
	@extend %svg-common;
	background-position: 41.95402298850575% 62.608695652173914%;
	width: 15px;
	height: 12px;
}

.svg-icon-water_color {
	@extend %svg-common;
	background-position: 16.352201257861637% 57.77777777777778%;
	width: 30px;
	height: 37px;
}

.svg-logo-ren_color {
	@extend %svg-common;
	background-position: 0 25.742574257425744%;
	width: 189px;
	height: 26px;
}

.svg-logo-ren_white {
	@extend %svg-common;
	background-position: 0 0;
	width: 189px;
	height: 26px;
}

